.mask {
  clip-path: polygon(96% 0%, 44% 0%, 3% 0%, 0% 4%, 0% 25%, 0% 86%, 3% 89%, 25% 90%, 44% 90%, 62% 90%, 78% 90%, 91% 90%, 100% 100%, 100% 4%);
}

.newMap {
  position: absolute;
  left: 0;
  top: 30px;
}

.change-map-enter {
  opacity: 1;
}

.change-map-enter.change-map-enter-active {
  opacity: 1;
  transition: opacity 5s linear;
}

.change-map-leave {
  opacity: 1;
}

.change-map-leave.change-map-leave-active {
  opacity: 0;
  transition: opacity 1s linear;
}
