.weather-forecast {
  display: flex;
}

.item__degree {
  font-size: 3rem;
  font-weight: bold;
  margin-right: 15px;
}

.item__container {
  margin-right: 30px;
 display: flex;
 align-items: center;
}
