@import "./variables";

@mixin control-button {
  width: 60px;
  height: $control-height;
  margin-right: 8px;
  padding-top: 10px;

  font-weight: 700;
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: $white;

  background-color: $button-background;
  border-radius: 5px;
  cursor: pointer;

  transition: background 0.2s linear;

  &:hover {
    background-color: $button-hover;
  }
}
