//color
$white: #ffffff;
$button-background: rgba(138, 138, 138, 0.671);
$button-hover: lighten($button-background, 20%);
$button-confrim-hover: darken($button-background, 30%);
$input-color: rgb(54, 54, 54);
$active-format: rgb(64, 142, 161);
$modal-window-color:  rgba(0, 0, 0, 0.808);

$control-height: 45px;
