body {
  position: relative;
  z-index: -100;

  margin: 0 auto;

  font-family: "Jura", sans-serif;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0 0 10px;
}

.wrapper {
  max-width: 1500px;
  margin: 0 auto;
  padding-top: 25px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.show-modal-window-enter {
  opacity: 0;
}

.show-modal-window-enter.show-modal-window-enter-active {
  opacity: 1;
  transition: opacity 1s linear;
}

.show-modal-window-leave {
  opacity: 1;
}

.show-modal-window-leave.show-modal-window-leave-active {
  opacity: 0;
  transition: opacity 1s linear;
}
