.weather-forecast {
  display: flex;
}

.item__degree {
  min-width: 90px;
  margin-right: 15px;

  font-weight: bold;
  font-size: 3rem;
}

.item__container {
  display: flex;
  align-items: center;
  min-width: 200px;
  margin-right: 30px;
}
