@import "../../sass/abstracts/mixins";
@import "../../sass/abstracts/variables";

.refresh-image {
  @include control-button;

  position: relative;
  .refresh__icon {
    position: absolute;
    top: -4px;
    left: 5px;

    fill: $white;
  }

  .show-animation {
    animation: loading-picture 1s infinite linear;
  }
}

.background-weather {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;

  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/background.jpg");
  background-size: cover;
  filter: brightness(60%);
}

.change-background-enter {
  opacity: 1;
}

.change-background-enter.change-background-enter-active {
  opacity: 1;
  transition: opacity 0s linear;
}

.change-background-leave {
  opacity: 1;
}

.change-background-leave.change-background-leave-active {
  opacity: 0;
  transition: opacity 1s linear;
}

@keyframes loading-picture {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

